.action-container {
    display: flex;
    gap: 1rem;


    /* ================== General btn. ================== */
    .action-btn {
        background: none;
        color: $moderate-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: $fw-medium;
        letter-spacing: 0.5px;
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }

        img {
            width: 12px;
            margin-right: 0.3rem;
        }
    }


    /* ================== Cancel btn. ================== */
    .cancel-btn {
        color: $dark-blue;

        span {
            margin-right: 0.3rem;
        }
    }


    /* ================== Confirm btn. ================== */
    .confirm-btn {
        background-color: $moderate-blue;
        color: $white;
        padding: 0.55rem 0.5rem;
        font-size: 0.95rem;
        font-weight: $fw-regular;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 5px;
        transition: all 0.25s ease-in-out;

        @media (min-width: 768px) {
            padding: 0.5rem 0.45rem;
            font-size: 0.9rem;
        }

        &:hover {
            text-decoration: none;
            background-color: lighten($moderate-blue, 15%);
        }
    }


    /* ================== Delete btn. ================== */
    .delete-btn {
        color: $soft-red;
    }


    /* ================== Disable btn. ================== */
    .disabled-btn {
        background-color: darken($light-gray, 20%);
        cursor: default;

        &:hover {
            background-color: darken($light-gray, 20%);
        }
    }
}



/* ================== Column direction. ================== */
.action-container-column {
    @media (min-width: 768px) {
        flex-direction: column;
    }
}