// Primary colors.
$moderate-blue: #5457b6;
$light-grayish-blue: #c3c4ef;
$soft-red: #ed6468;
$pale-red: #ffb8bb;

// Neutral colors.
$dark-blue: #324152;
$grayish-blue: #67727e;
$light-gray: #eaecf1;
$very-light-gray: #f5f6fa;
$white: #ffffff;

// Typography.
$ff-main: 'Rubik', sans-serif;
$fs-default: 16px; 
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;