.reply-input-wrapper {
    padding: 1rem;
    background-color: $white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .user-avatar-big {
        display: none;

        @media (min-width: 768px) {
            display: initial;
            width: 35px;
        }
    }

    .textarea-container {
        padding: 0.5rem;
        border: 1px solid #000000;
        margin-bottom: 1.5rem;

        @media (min-width: 768px) {
            display: flex;
            width: 80%;
            margin-bottom: 0;
        }

        p {
            color: $grayish-blue;
            font-size: 14px;
            letter-spacing: 0.5px;
            user-select: none;
            margin-bottom: 0.5rem;

            @media (min-width: 768px) {
                margin-bottom: 0;
                margin-right: 0.5rem;
            }
        }


        textarea {
            background-color: transparent;
            color: $grayish-blue;
            width: 100%;
            border: none;
            outline: none;
        }
    }


    .special-container {
        display: flex;
        justify-content: space-between;


        .user-avatar-small {
            width: 35px;

            @media (min-width: 768px) {
                display: none;
            }
        }


        .reply-buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
    
            .send-reply-btn {
    
            }
    
            .close-reply-btn {
    
            }
        }
    }
}

.nested-reply {
    margin-top: 1rem;
}